
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inconsolata:wght@200..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Parisienne&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
	background-image: url(pic/29019077_7481714.jpg);
	background-position: center;
	background-repeat:no-repeat ;
    background-size: cover;
}
/* The main Section */
.main{
	align-items: center;
	/* background-color: aquamarine; */
	width: 350px;
	height: 350px;
	padding: 60px;
	border-radius: 19px;
	backdrop-filter: blur(5px);
	border: .1px white solid;
}
.main h1{
	text-align: center;
	font-size: 34px;
	color: #ffffff;
	 font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: normal;
}
.input-box{
	padding: 9px;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	border-radius: 19px;
	border: 1px solid black;
	outline: none;
    background-color: transparent;
}

.input-box:invalid:not(:placeholder-shown){
	background-image: url(pic/close.png);
	border:red  1px solid;
}
.input-box:valid:not(:placeholder-shown){
	background-image: url(pic/check.png);
	border: green  1px solid;
}
.input-box:valid:not(:placeholder-shown) , .input-box:invalid:not(:placeholder-shown){
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
  
}
/* All Register And Button Stuff */
.check{
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
.check a{
	font-size: 14px;
	text-decoration: none;
	color: #000000;
font-family: "Petrona", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.btn{
	margin-left: 17%;
	margin-top: 15px;
	width: 70%;
	padding: 5px;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 16px;
}
.btn:hover{
	background-color: #c69be2;
	transition: 1s ease-in;

}
.register{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	
}
.register a{
	margin-left: 4px;
	text-decoration: none;
	color: black;
}
.register a:hover , .check a:hover{
	text-decoration: underline;
	color: #441df1;
}
.register p{
	text-decoration: none;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
font-family: "Petrona", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
